@import '../css/foundation.scss';

.button {
  background-color: #0098ff;
  border: none;
  border-radius: $primary-br;
  color: white;
  cursor: pointer;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 600;
  padding: map-get($spacing-scale, 4) map-get($spacing-scale, 5);

  &.primary {
    background-color: #0098ff;
    color: white;

    &:hover {
      background-color: #0082da;
    }

    &:active {
      background-color: #006cb6;
    }

    &:focus {
      border: 1px solid #0082da;
      color: black;
      background-color: #b1d9fc;
    }
  }

  &.medium {
    font-size: 14px;
    padding: map-get($spacing-scale, 4) map-get($spacing-scale, 5);
  }

  &.small {
    font-size: 12px;
    padding: map-get($spacing-scale, 4) map-get($spacing-scale, 5);
  }
}
