@import '../css/foundation.scss';

header {
    background: $header-gradient;
    width: 100%;

    a {
        height: 32px;
    }

    p {
        display: none;

        @media only screen and (min-width: 768px) {
            @include body-bold__desktop;

            color: white;
            display: initial;
            font-family: $primary-font;
            padding-top: .5rem;
            margin: 0;
        }
    }
}

.navContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;


    @media only screen and (min-width: 500px) {
        padding: 2rem 3rem;
    }
}

.logo {

    &:focus {
        border: 2px solid white;
    }
}

.navRight {
    display: flex;
    gap: 1.2rem;
}

.navProfile {
    display: flex;
    gap: 12px;
}

.signOutButton {
    margin-top: 5px;
}