header {
    background: linear-gradient(to bottom left, rgba(97, 21, 166, 1), rgba(3, 3, 18, 1));
    width: 100%;

    a {
        height: 32px;
    }

    p {
        display: none;

        @media only screen and (min-width: 768px) {
            color: white;
            display: initial;
            font-family: "Barlow", sans-serif;
            font-size: 22px;
            font-weight: 600;
            line-height: 33.6px;
            margin: 0;
        }
    }
}

.navContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;


    @media only screen and (min-width: 500px) {
        padding: 2rem 3rem;
    }
}

.logo {

    &:focus {
        border: 2px solid white;
    }
}

.navRight {
    display: flex;
    gap: 1.2rem;
}

.navProfile {
    display: flex;
    gap: 12px;
}

.signOutButton {
    padding-top: 0.4rem;
}