@import '../css/foundation.scss';

nav {
    background-color: white;
    box-shadow: 0px 2px 4px #00000020;
    padding: 0.5rem 1rem;

    @media only screen and (min-width: 500px) {
        padding: 1rem 2rem;
    }

    @media only screen and (min-width: 768px) {
        padding: 1rem 3rem;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.stickyNavContainer {
    display: flex;
    justify-content: space-between;

    button {
        @media only screen and (min-width: 768px) {
            margin-top: 0px;
        }
    }
}

.amountTrackContainer {
    background-color: #F5F5F5;
    border-radius: $primary-br;
    display: flex;
    gap: .5rem;
    padding: .75rem;


    @media only screen and (min-width: 768px) {
        padding: 1rem
    }

    p {
        @include subheading-regular__mobile;
        margin: 0px;

        &.totalAmount {
            @include subheading-bold__mobile;
        }
    }
}