@import '../css/foundation.scss';

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: $primary-font;

  .checkbox-input {
    display: none;
  }

  .checkbox-label {
    font-size: 16px;
  }
}
