@import '../css/foundation.scss';

.avatar {
    background-color: $avatar;
    border: 2px solid $avatar;
    border-radius: 100px;
    color: white;
    font-family: $primary-font;
    font-size: 12px;
    font-weight: bold;
    // height: 32px;
    // width: 32px;

    

    &.focus:focus {
        border: 2px solid $primary-text;  
      }
}